.carousel {
	display: flex;
	overflow-x: auto;
	min-height: 17rem;
	text-align: center;
    padding-block: 3rem;
	align-items: stretch;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;

	li {
		display: flex;
		flex: 0 0 var(--carousel-item-width, 85%);
		padding: 1rem;
		margin: 0 1rem;
		text-align: left;
		border-radius: 1rem;
		list-style-type: none;
		scroll-snap-align: start;
		border: 0.0625rem solid var(--text-color-contrast);
		background-color: var(--background-color);
	}

	li > * {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	li:nth-child(even) {
		border: 0.0625rem solid var(--background-color-alternate);
		background-color: var(--background-color-alternate);
	}
	
	blockquote::before {
		content: open-quote;
	}

	blockquote::after {
		content: close-quote;
	}

	blockquote {
		margin: 0;
		flex: 1;
		line-height: 1.5;
		font-size: var(--type-0);
		quotes: "“" "”" "‘" "’";
	}
	
	figure {
		margin: 0;
		
		&::before {
			content: "";
			display: inline-block;
			width: 4rem;
			height: 4rem;
			background-color: var(--brand-color-alt);
			mask-image: url("../../images/icons/quote.svg");
			-webkit-mask-image: url("../../images/icons/quote.svg");
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: contain;
		}
	}
	
	figcaption {
		margin-block-start: 1rem;
		font-weight: 300;
	}
}

.carousel-wrap {
	position: relative;
	margin-block-end: 3rem;
}

.carousel-dots {
	gap: 1rem;
	display: flex;
	margin-block-start: 1rem;
	justify-content: center;
}

.carousel-dots.is-hidden {
	display: none;
}

.carousel-dots button {
	padding: 0;
	border: none;
	cursor: pointer;
	min-width: 1rem;
	min-height: 1rem;
	border-radius: 0.625rem;
	background-color: var(--text-color);
}

.carousel-dots button.active {
	transition: all 0.7s;
	background-color: var(--brand-color-alt);
}

.carousel-meta {
	gap: 0.5rem;
	display: flex;
	margin-top: 0.5rem;
	align-items: center;
}

.carousel-meta img {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
}

.carousel-meta p {
	display: flex;
	font-size: 0.875rem;
	flex-direction: column;
	justify-content: center;
	margin: 0;
}

.carousel-quote {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	background-color: var(--brand-color-alt);
	mask-image: url("../../images/icons/quote.svg");
	-webkit-mask-image: url("../../images/icons/quote.svg");
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}

/* Events Carousel */
.carousel.events li {
	position: relative;
}	

.carousel.events h3 {
	margin-block: 1rem;
} 

.carousel.events dd {
	margin-inline-start: 0;
	margin-block-end: 1rem;
}

.carousel.events .event-link {
	top: 0;
	right: 0;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	position: absolute;
	transform: translate(45%, -45%);
	background-color: var(--brand-color-light-bg);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23111143' d='M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4z'/%3E%3C/svg%3E");
	background-size: 2rem 2rem;
	background-position: center;
	background-repeat: no-repeat;
}

