/* Navigation Container */
.nav {
	top: 0;
	z-index: 1000;
	background-color: var(--background-color-alternate);
}

/* ==================== DESKTOP ==================== */
.anchor-nav {
	gap: 2rem;
	display: flex;
	margin: 0 auto;
	list-style: none;
	align-items: center;
	padding-block: 1rem;
	justify-content: flex-end;
}

.anchor-nav li {
	margin: 0;

	&:first-child {
		margin-inline-end: auto;
	}
}

.anchor-nav .logo {
	width: 2.5rem;
	height: 2.5rem;
}

.anchor-nav .github {
	width: 1.5rem;
	height: 1.5rem;
	transition: transform 0.3s linear;

	&:hover {
		transform: scale(1.15);
	}
}

/* ==================== MOBILE ==================== */
.mobile-nav {
	display: none;
	position: relative;
}

.mobile-nav-container {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	justify-content: space-between;
}

.mobile-nav-container .logo {
	width: 2.5rem;
	height: 2.5rem;
}

/* Hamburger Button */
.mobile-nav-btn {
	padding: 0;
	width: 2rem;
	border: none;
	height: 2rem;
	cursor: pointer;
	position: relative;
	background: transparent;

	&:is(:focus-visible) {
		outline-offset: 0.25rem;
		outline: 0.125rem solid var(--brand-color-contrast);
	}

	& span {
		left: 0;
		width: 100%;
		display: block;
		height: 0.1875rem;
		position: absolute;
		border-radius: 0.125rem;
		transition: all 0.3s ease;
		background-color: var(--text-color);

		&:nth-child(1) {
			top: 0.1875rem;
		}

		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}

		&:nth-child(3) {
			bottom: 0.1875rem;
		}
	}

	/* Hamburger Animation */
	&.open span {
		&:nth-child(1) {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			bottom: auto;
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

/* Mobile Menu */
.mobile-nav-menu {
	left: 0;
	right: 0;
	margin: 0;
	top: 100%;
	z-index: 5;
	padding: 0 0 1rem 0;
	width: 100%;
	display: none;
	list-style: none;
	position: absolute;
	flex-direction: column;
	background: var(--background-color-alternate);
}

.mobile-nav-menu::after {
	left: 0;
	right: 0;
	content: '';
	height: 100px;
	bottom: -100px;
	position: absolute;
	pointer-events: none;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
	mask-image: linear-gradient(to bottom, black, transparent);
	-webkit-mask-image: linear-gradient(to bottom, black, transparent);
}

.mobile-nav-menu.hamburgerMenuVisible {
	display: flex;
}

.mobile-nav-menu li {
	margin: 0;
	width: 100%;
}

.mobile-nav-menu a {
	width: 100%;
	display: block;
	padding: 1rem 2rem;
	text-decoration: none;
	box-sizing: border-box;
	color: var(--text-color);
	text-underline-offset: 0.25rem;
	transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;

	&:is(:hover) {
		text-decoration: underline;
		text-underline-offset: 0.25rem;
		text-decoration-thickness: 0.0625rem;
	}

	&:is(:focus, :focus-visible) {
		outline-offset: -0.5rem;
		outline: 0.125rem solid var(--brand-color-contrast);
	}

	&:is(.active, [aria-current="true"]) {
		color: var(--brand-color-alt);
	}
}

@media screen and (max-width: 768px) {
	.anchor-nav {
		display: none;
	}

	.mobile-nav {
		display: block;
	}
}

@media screen and (min-width: 769px) {
	.mobile-nav {
		display: none;
	}

	.anchor-nav {
		display: flex;
	}
}
